/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-logo {
  padding-top: 10px;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 5px;
}
